@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  background-color: #f2f8fd;
  height: 100%;
  margin: 0;
}

html,body,body > div:first-child,div#__next,
div#__next > div {
	height: 100%;
}

:focus {outline:none;}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #9fa0a1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#upgradePlanCardSm{
	background: #4FDC95 url('https://ik.imagekit.io/v24zntfh1/inBottles/card-bg-img-01.png');
}
.bg-login{
	background: #f2f8fd url('https://ik.imagekit.io/v24zntfh1/inBottles/bg-01.jpg?updatedAt=1685296196301');
}